.github/**
.idea/**
.vscode/**
.vscode-test/**
coverage/**
drizzleUI/**
node_modules/**
out/**
!out/src/mscorlib.js
!out/src/Nethereum.Generators.DuoCode.js
!out/src/extension.js
!out/src/debugger.js
!out/src/web3ProviderResolver.js
!out/src/checkTruffleConfigTemplate.js
src/**
test/**
ui-test/**
.editorconfig
.gitignore
.npmignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/webpack.*.js
**/.mocharc.js
**/coverconfig.json
.husky/**
**/GitVersion.yml
**/commitlint.config.js
**/.nvmrc
**/.eslintignore
**/.prettierignore
