.idea/**
.vscode/**
.vscode-test/**
coverage/**
drizzleUI/**
node_modules/**
out/**
!out/src/mscorlib.js
!out/src/Nethereum.Generators.DuoCode.js
!out/src/extension.js
src/**
test/**
.editorconfig
.gitignore
.npmignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/webpack.config.js
**/coverconfig.json
