body {
  margin: 0px;
  padding: 0px;
}

div.tab-frame div.nav-tab div {
  background: #33262a;
  color: white;
  display: block;
  float: left;
  padding: 10px 20px;
  cursor: pointer;
  min-height: 20px;
  position: fixed;
}

div.tab-frame div.nav-tab div img {
  float: left;
  width: 18px;
}

div.tab-frame div.nav-tab div span {
  float: left;
  margin: 0px 0 0 7px;
}

div.tab-frame div.nav-content {
  padding-top: 45px;
}

div.tab-frame div.nav-content div {
  display: inline-block;
  margin-bottom: 2px;
  width: 95%;
  font-family: 'Courier New';
  font-size: 14px;
}
