:root {
  --primary-color: rgba(235, 182, 126, 1);
  --text-color: rgba(54, 65, 83, 1);

  --truffle-green: #3fe0c5;
  --subtle-green: #bcecd4;
  --complimentary1: rgba(109, 163, 184, 1);
  --error: #ec5c5c;

  --app-background-color: rgba(255, 255, 255, 1);

  --app-window-control-background: rgba(29, 28, 27, 1);
  --app-navbar-background: rgba(64, 61, 58, 1);
  --app-navbar-text: rgba(151, 151, 151, 1);
  --app-navbar-icon-color: rgba(128, 128, 128, 1);

  --app-statusbar-text: rgba(204, 204, 204, 1);
  --app-statusbar-background: rgba(51, 48, 46, 1);
  --app-statusbar-active-item-background: rgba(86, 78, 72, 1);
  --app-statusbar-item-border-color: rgba(64, 61, 58, 1);
  --app-statusbar-btn-text: #f8d2ab;

  --app-card-default-border: rgba(200, 199, 196, 1);
  --app-card-default-background: rgba(251, 249, 246, 1);
  --app-card-label: rgba(96, 92, 89, 1);
  --app-card-value: rgba(57, 52, 48, 1);

  --app-highlight-color: rgba(208, 195, 188, 1);

  --app-sidebar-background-color: rgba(42, 40, 37, 1);
  --app-sidebar-header-text-color: rgba(96, 172, 197, 1);
  --app-sidebar-divider-color: rgba(76, 75, 74, 1);

  --app-panel-background-color: var(--app-background-color);
  --app-panel-text-color: var(--app-sidebar-background-color);
  --app-panel-divider-color: rgba(158, 148, 132, 1);
  --app-panel-header-border-color: var(--app-panel-divider-color);

  --app-button-primary-background-color: rgba(78, 60, 65, 1);
  --app-button-primary-color: rgba(242, 175, 103, 1);
  --app-button-primary-disabled-border-color: rgba(227, 227, 227, 1);

  --app-account-list-background: rgba(255, 255, 255, 1);
  --app-account-list-header-divider-color: var(--text-color);

  --app-mnemonic-background-color: rgba(255, 255, 255, 1);

  --app-title-bar-btn-close: rgba(255, 96, 88, 1);
  --app-title-bar-btn-min: rgba(255, 191, 47, 1);
  --app-title-bar-btn-max: rgba(40, 201, 64, 1);

  --app-config-tab-active-text-color: rgba(235, 182, 126, 1);

  --app-Blocks-card-header-title-text-color: rgba(102, 143, 156, 1);

  --app-page-intentionally-left-blank: rgb(215, 215, 215);
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  font-weight: 300;
  font-style: bold;

  src: url(assets/fonts/RobotoCondensed-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  font-weight: 700;
  font-style: bold;

  src: url(assets/fonts/RobotoCondensed-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 300;
  font-style: normal;

  src: url(assets/fonts/FiraSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Fira Sans Bold';
  font-weight: 300;
  font-style: normal;

  src: url(assets/fonts/FiraSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Fira Sans SemiBold';
  font-weight: 300;
  font-style: normal;

  src: url(assets/fonts/FiraSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Fira Code Regular';
  font-weight: 300;
  font-style: normal;

  src: url(assets/fonts/FiraCode-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Grand Hotel';
  font-weight: 300;
  font-style: normal;

  src: url(assets/fonts/GrandHotel-Regular.ttf) format('truetype');
}

html {
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background-color: #312c2a !important;
}

body {
  padding: 0 !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
  background-color: var(--app-background-color) !important;
  color: var(--app-button-primary-background-color) !important;
  font-family: 'Fira Sans' !important;
  font-weight: 200 !important;
}

div.tab-frame {
  background-color: var(--app-navbar-background);
}

div.tab-frame input {
  display: none;
}

div.tab-frame label {
  float: left;
  padding: 8px 24px;
  color: gray;
  background-color: var(--app-navbar-background);
  line-height: 35px;
  font-size: 15px;
  font-family: 'RobotoCondensed-Bold';
  text-transform: uppercase;
  cursor: pointer;
  min-width: 145px;
}

div.tab-frame label svg {
  width: 35px;
  float: left;
  fill: none;
  stroke: gray;
}

div.tab-frame label span {
  margin-left: 10px;
}

div.tab-frame input:checked + label {
  color: var(--primary-color);
}

div.tab-frame input:checked + label svg {
  stroke: var(--primary-color);
}

div.tab-frame div.tab {
  display: none;
  clear: left;
  height: 85vh;
  color: var(--text-color);
  overflow-y: scroll;
  background-color: var(--app-background-color);
}

div.tab-frame input:nth-of-type(1):checked ~ .tab:nth-of-type(1),
div.tab-frame input:nth-of-type(2):checked ~ .tab:nth-of-type(2),
div.tab-frame input:nth-of-type(3):checked ~ .tab:nth-of-type(3),
div.tab-frame input:nth-of-type(4):checked ~ .tab:nth-of-type(4),
div.tab-frame input:nth-of-type(5):checked ~ .tab:nth-of-type(5) {
  display: block;
}

.AccountCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem 0.8rem;
  background-color: var(--app-card-default-background);
  position: relative;
  border-bottom: 1px solid #aaa;
}

.AddressAndBalance {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.AccountAddress {
  font-weight: bold;
  margin-right: 2rem;
}

.AccountBalance {
  font-weight: bold;
}

.SecondaryInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
}

.TransactionCount {
  width: 20%;
}

.Label {
  font-size: 0.75rem;
  font-family: 'RobotoCondensed-Regular';
  font-weight: 800;
  color: var(--app-card-label);
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

.Value {
  font-size: 1.125rem;
  font-family: 'Fira Code Regular';
  color: var(--app-card-value);
  word-break: break-all;
}
