name: Publish Package

on:
  release:
    branches:
      - develop
      - master
    paths-ignore: # dont run when changes made to these folders
      - '.vscode/**'

jobs:
  cicd:
    name: cicd
    runs-on: windows-latest
    env:
      VSCE_FLAGS: ''
    steps:
      - name: checkout repo
        uses: actions/checkout@v2

      - name: fetch all history and tags from all branches for gitversion
        run: git fetch --prune --unshallow

      - name: install gitversion tool
        uses: gittools/actions/gitversion/setup@v0.9.13
        with:
          versionSpec: '5.x'

      - name: execute gitversion
        id: gitversion # step id used as reference for output values
        uses: gittools/actions/gitversion/execute@v0.9.13

      - name: getPackageName
        id: packageJson
        uses: myrotvorets/info-from-package-json-action@1.1.0

      - name: print Details
        run: |
          echo "::Major: ${{ steps.gitversion.outputs.major }}::"
          echo "::Minor: ${{ steps.gitversion.outputs.minor }}::"
          echo "::Patch: ${{ steps.gitversion.outputs.patch }}::"
          echo "::MajorMinorPatch: ${{ steps.gitversion.outputs.majorMinorPatch }}::"
          echo "::PreRelease: ${{ steps.gitversion.outputs.preReleaseTag }}::"
          echo "::SemVer: ${{ steps.gitversion.outputs.semVer }}::"
          echo "::PackageName: ${{steps.packageJson.outputs.packageName}} ::"

      - name: setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16.4.x'
          cache: 'yarn'

      - name: clean install dependencies. Fail on lockfile Changes.
        run: yarn install --immutable --immutable-cache --check-cache

      - name: run tests
        run: yarn test

      - name: update metadata in package.json
        uses: onlyutkarsh/patch-files-action@v1.0.3
        with:
          files: '${{github.workspace}}/package.json'
          patch-syntax: |
            = /version => "${{ steps.gitversion.outputs.majorMinorPatch }}"
            = /aiKey => "${{ secrets.AIKEY }}"

      - name: add version in CHANGELOG.md
        uses: cschleiden/replace-tokens@v1.1
        with:
          files: '${{github.workspace}}/CHANGELOG.md'
        env:
          VERSION: '${{ steps.gitversion.outputs.majorMinorPatch }}'

      - name: configure package flags
        id: package_flags
        if: ${{ steps.gitversion.outputs.preReleaseTag != '' }}
        run: |
          echo "VSCE_FLAGS=--pre-release --yarn " | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "flags_set=true" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: compile and create vsix MASTER Release
        if: github.ref == 'refs/heads/master'
        run: |
          echo ":: Packaging VSIX VSCE_FLAGS=${{ env.VSCE_FLAGS }}, ${{ env.flags_set }} ::"
          yarn package
          echo "vsix_path=${{steps.packageJson.outputs.packageName}}-${{steps.gitversion.outputs.majorMinorPatch}}" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "vsix_type=-RELEASE" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: compile and create vsix Develop PreRelease
        if: github.ref == 'refs/heads/develop'
        run: |
          echo ":: Packaging VSIX VSCE_FLAGS=${{ env.VSCE_FLAGS }}, ${{ env.flags_set }} :: $GITHUB_ENV"
          yarn package ${{ env.VSCE_FLAGS }}
          echo "vsix_path=${{steps.packageJson.outputs.packageName}}-${{steps.gitversion.outputs.majorMinorPatch}}" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "vsix_type=-PRE_RELEASE" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: print vsix path
        run: |
          echo "::VSIX Path: ${{ env.vsix_path }}:: TYPE: ${{ env.vsix_type }}"

      - name: upload vsix as artifact
        uses: actions/upload-artifact@v1
        with:
          path: ${{ github.workspace }}/${{ env.vsix_path }}.vsix
          name: ${{ env.vsix_path }}${{ env.vsix_type }}.vsix
#      - name: publish to marketplace
#        if: github.ref == 'refs/heads/master'
#        run: npm run deploy ${{ env.PAT }}
#
#      - name: create a release
#        if: github.ref == 'refs/heads/master'
#        uses: actions/create-release@v1
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
#        with:
#          tag_name: v${{ steps.gitversion.outputs.semVer }}
#          release_name: v${{ steps.gitversion.outputs.semVer }}
